.body {
    background-color: #b7c4c5;
    font-family: Arial;
    color: #555555;
    font-size: 20px;

}

.navbar-img {
    width: 60px;
    height: 60px;
    transition: width 2s, height 2s, transform 2s;
}

.navbar-img:hover {
    width: 100px;
    height: 100px;
    transform: rotate(360deg);
}

iframe {
    width: 480px;
    height: 270px;
}

#contactpg-background {
    display: grid;
    justify-self: center;
    height: 100%;
    width: 100;
    background-image: radial-gradient(rgb(199, 197, 206), rgb(162, 163, 197), rgb(110, 109, 201));
}
